.FilterInput
{  
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
}

.FilterInput.invalid {
    color: #e13d3d;
    outline-color: #e13d3d;
    font-weight: bold;
}